.arrow{
    height: 16px;
    width: auto;
    display: block;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.ends_attack_button{
    margin-top: 16px !important;
}